<div class="container p-4">
    <h1 class="text-center">Edit</h1>
        <div class="text-right">
            <%= link_to 'Back', addresses_path, class: "btn btn-dark m-2" %>
        </div>
    <%= render 'addresses/form' %>
</div>